/* Navbar */
a#main-site-name {
    font-size: 2.5em;
    font-weight: bold;
}

/* Main sections */
main {
    margin-bottom: 10em;
}

main section.section {
    padding: 2em 1.5em;
}

section#home-description {
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Film item listings */


/* Film page*/
main section #infobox {
    background-color: rgb(245, 245, 245);
}

main section #infobox .infobox-item {
    padding: 0.5em 0;
}

main section #infobox ul { display: inline; list-style: none; margin: 0; padding: 0; }
main section #infobox ul li { display: inline; }
main section #infobox ul li:after { content: ","; }
main section #infobox ul li:last-child:after { content: ""; }

/* Video page*/
/* Scalling player to the viewport: https://coolestguidesontheplanet.com/videodrome/youtube/ */
section#video-main-player {
    padding-bottom: 0;
}
.video-container {
	position:relative;
	padding-bottom:53.90%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
    overflow: hidden;
}


#tags-content p.subtitle {
    margin-bottom: 0.5em;
}
#tags-content ul {
    margin-bottom: 2em;
}
