{% extends "base.html" %}

{% block title %}
{{ article.title|striptags  }}{% if article.keywords %} - {{ article.keywords|striptags }}{% endif %} - {{ SITENAME }}
{% endblock %}


{% block head %}
  {{ super() }}
    <meta name="description" content="{{article.summary | striptags}}" />
  {% for tag in article.tags %}
    <meta name="tags" content="{{tag | striptags}}" />
  {% endfor %}
{% endblock %}


{% block content %}
<section id="video-main-player" class="section">
    {% if article.player_type %}
    <div class="video-container video-container-{{ article.player_type }}">
        {% if article.player_type == 'youtube' %}
        <iframe src="https://www.youtube.com/embed/{{ article.player_vid }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% elif article.player_type == 'dailymotion' %}
        <iframe frameborder="0" type="text/html" src="https://www.dailymotion.com/embed/video/{{ article.player_vid }}" width="100%" height="100%" allowfullscreen > </iframe>
        {% elif article.player_type == 'vimeo' %}
        <iframe src="https://player.vimeo.com/video/{{ article.player_vid }}?title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        {% endif %}
    </div>
    {% else %}
    <div class="no-video-container">
        {% if article.img_main %}
        <img src={{ SITEURL}}/{{ article.img_main }} style="width: 100%;" />
        {% endif %}
    </div>
    {% endif %}
</section>
<section class="section content">
    <h1 class="title">{{ article.title | striptags }}</h1>
    <div class="columns">
        <div id="infobox" class="column is-one-third is-light">
            {% if article.info_items.direction %}
            <div class="infobox-item">
                <strong>Direction :</strong>
                <ul>
                {% for item in article.info_items.direction %}
                <li>{% if item.url %}<a href="{{ SITEURL }}/{{ item.url }}" title="See all videos directed by {{item.name}}">{{ item.name }}</a>{% else %}{{ item.name }}{% endif %}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="infobox-item">
                <strong>Release year :</strong> {{ article.release_year }}
            </div>
            {% if article.duration %}
            <div class="infobox-item"><strong>Duration :</strong> {{ article.duration }}</div>
            {% endif %}
            {% if article.info_items.production %}
            <div class="infobox-item">
                <strong>Production :</strong>
                <ul>
                {% for item in article.info_items.production %}
                <li>{% if item.url %}<a href="{{ SITEURL }}/{{ item.url }}" title="See all videos produced by {{item.name}}">{{ item.name }}</a>{% else %}{{ item.name }}{% endif %}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if article.country %}
            <div class="infobox-item"><strong>Country :</strong> {{ article.country }}</div>
            {% endif %}
            {% if article.language %}
            <div class="infobox-item"><strong>Language :</strong> {{ article.language }}</div>
            {% endif %}
            {% if article.info_items.events %}
            <div class="infobox-item">
                <strong>Events :</strong>
                <ul>
                {% for item in article.info_items.events %}
                <li>{% if item.url %}<a href="{{ SITEURL }}/{{ item.url }}" title="See all videos about {{item.name}}">{{ item.name }}</a>{% else %}{{ item.name }}{% endif %}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if article.info_items.people %}
            <div class="infobox-item">
                <strong>Starring :</strong>
                <ul>
                {% for item in article.info_items.people %}
                <li>{% if item.url %}<a href="{{ SITEURL }}/{{ item.url }}" title="See all videos staring {{item.name}}">{{ item.name }}</a>{% else %}{{ item.name }}{% endif %}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="column">
            <div class="block">
                <p>{{ article.content }}</p>
            </div>

            {% if article.link_official or article.link_vod or article.link_fm %}
            <div class="block">
                {% if article.link_fm %}
                <p><strong>Watch full movie :</strong> <a href="{{ article.link_fm }}">{{ article.link_fm }}</a></p>
                {% endif %}
                {% if article.link_vod %}
                <p><strong>Video-On-Demand :</strong> <a href="{{ article.link_vod }}">{{ article.link_vod }}</a></p>
                {% endif %}
                {% if article.link_official %}
                <p><strong>Official Website :</strong> <a href="{{ article.link_official }}">{{ article.link_official }}</a></p>
                {% endif %}
            </div>
            {% endif %}
        </div>

    </div>
</section>
{% endblock %}

