{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block content %}
    <section id="home-description" class="section content">
        <h2 class="subtitle">An opinionated index of documentary films about running</h2>
        {{ page.content }}
    </section>
    <section class="section">
    <h2 class="title is-2">Recently added</h2>
    {% for article in (articles|sort(reverse=True,attribute='date'))[:10] %}
        {% if loop.cycle('odd', 'even') == 'odd' %}
    <div class="columns is-desktop">
        <div class="column is-half">
            {% include 'article_thumb.html' %}
        </div>
        {% if loop.last %}
    </div>
        {% endif %}
        {% else %}
        <div class="column is-half">
            {% include 'article_thumb.html' %}
        </div>
    </div>
        {% endif %}
    {% endfor %}
    </section>

    <section class="section">
    <h2 class="title is-2">Current personnal favorites</h2>
    {% for article in articles|selectattr("favorite", "equalto", "yes") %}
        {% if loop.cycle('odd', 'even') == 'odd' %}
    <div class="columns is-desktop">
        <div class="column is-half">
            {% include 'article_thumb.html' %}
        </div>
        {% if loop.last %}
    </div>
        {% endif %}
        {% else %}
        <div class="column is-half">
            {% include 'article_thumb.html' %}
        </div>
    </div>
        {% endif %}
    {% endfor %}
    </section>
{% endblock content %}
